<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
	  <filter>
		<filter-name>CORS</filter-name>
		<filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
	</filter>
     <filter-mapping>
        <filter-name>CORS</filter-name>
        <url-pattern>/*</url-pattern>
	</filter-mapping>
  
  <servlet>
  	<servlet-name>Ingreso</servlet-name>
  	<display-name>Ingreso</display-name>
  	<description></description>
  	<servlet-class>crm_UI.Ingreso</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Salir</servlet-name>
  	<display-name>Salir</display-name>
  	<description></description>
  	<servlet-class>crm_UI.Salir</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Funcion</servlet-name>
  	<display-name>Funcion</display-name>
  	<description></description>
  	<servlet-class>crm_UI.Funcion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Rol_Funcion</servlet-name>
  	<display-name>Rol_Funcion</display-name>
  	<description></description>
  	<servlet-class>crm_UI.Rol_Funcion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>bitacora</servlet-name>
  	<display-name>bitacora</display-name>
  	<description></description>
  	<servlet-class>crm_UI.Bitacora_Registro</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Usuario</servlet-name>
  	<display-name>Usuario</display-name>
  	<description></description>
  	<servlet-class>crm_UI.Usuario</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Parametro</servlet-name>
  	<display-name>Parametro</display-name>
  	<description></description>
  	<servlet-class>crm_UI.Parametro</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Rol</servlet-name>
  	<display-name>Rol</display-name>
  	<description></description>
  	<servlet-class>crm_UI.Rol</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Imagenes</servlet-name>
  	<display-name>Imagenes</display-name>
  	<description></description>
  	<servlet-class>crm_UI.Imagenes</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GuardarArchivo</servlet-name>
  	<display-name>GuardarArchivo</display-name>
  	<description></description>
  	<servlet-class>crm_UI.GuardarArchivo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Cheque</servlet-name>
  	<display-name>Cheque</display-name>
  	<description></description>
  	<servlet-class>crm_UI.cuentas.Cheque</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Caja</servlet-name>
  	<display-name>Caja</display-name>
  	<description></description>
  	<servlet-class>crm_UI.cuentas.Caja</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Direccion</servlet-name>
  	<display-name>Direccion</display-name>
  	<description></description>
  	<servlet-class>crm_UI.garita.Direccion</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>Ingreso</servlet-name>
  	<url-pattern>/ingreso</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>Salir</servlet-name>
  	<url-pattern>/salir</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Funcion</servlet-name>
  	<url-pattern>/funcion</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>Rol_Funcion</servlet-name>
  	<url-pattern>/rol_funcion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   	<servlet-name>bitacora</servlet-name>
   	<url-pattern>/bitacora</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>Usuario</servlet-name>
   	<url-pattern>/usuario</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>Parametro</servlet-name>
   	<url-pattern>/parametro</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>Rol</servlet-name>
   	<url-pattern>/rol</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>Imagenes</servlet-name>
  	<url-pattern>/imagenes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GuardarArchivo</servlet-name>
  	<url-pattern>/guardararchivo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Cheque</servlet-name>
  	<url-pattern>/cheque</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Caja</servlet-name>
  	<url-pattern>/caja</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Direccion</servlet-name>
  	<url-pattern>/direccion</url-pattern>
  </servlet-mapping>
</web-app>
